body
  background #ffffff
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
  display none !important

.toast-error
  margin 20px auto !important

#toast-container
  margin-top 30px !important