extends includes/layout
block main-content
  header.contain-to-grid
    nav.top-bar(data-topbar rel="navigation")
      ul.title-area
        li.name
          h1
            a(href="/") Manual App
        li.toggle-topbar.menu-icon
          a(href="#")
            span Menu
      section.top-bar-section
        ul.left
          li.divider
          li
            a(href="/") Home
        div(ng-include="'partials/account/login'")
  .row
    .large-12.columns
      div(ng-view)

  footer
    hr
    .row
      .large-12.columns
        p.text-center &copy; Manual App 2014