doctype
html
    head
        title Manual App
        link(rel='stylesheet' href='/lib/foundation/css/foundation.css')
        link(rel='stylesheet' href='/lib/toastr/toastr.css')
        link(rel='stylesheet' href='/css/app.css')
    body(ng-app='app')
        h1 Hi from Layout

        block main-content

        include scripts