ul.right(ng-controller="LoginCtrl")
  li.has-form
    form(ng-hide="identity.isAuthenticated()")
      .row.collapse
        .large-5.medium-6.columns
          input(type="text" placeholder="Username" ng-model="user.username")
        .large-5.medium-6.columns
          input(type="password" placeholder="Password" ng-model="user.password")
        .large-2.medium-12.columns
          button(ng-click="login(user)") Login
  li(ng-show="identity.isAuthenticated()")
    a() {{identity.currentUser.firstName + " " + identity.currentUser.lastName}}
  li(ng-show="identity.isAuthenticated()")
    a.button(href="#" ng-click="logout()") Sign Out
